
$main-color: #fdffdd;

body {
    font-family: Lato, 'Noto Sans JP';
    background-color: $main-color;
}

main {
    margin: 30px auto;
    max-width: 640px;
    li {
        list-style-type: none;
        display: block;
        margin: 30px auto;
        padding: 10px;
        background-color: #fff;
        a {
            text-decoration: none;
            font-size: 1.5rem;
        }
    }
}

h1#page_header {
    background-image: url('/booklog/assets/images/titleback.jpg');
    color: #ffffff;
    text-shadow: #000 2px 2px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
    padding: 20px;
    span {
        display: block;
        font-size: 11px;
        font-weight: normal;
    }
}